<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.writestar.mapper.ReplyMapper">
	<insert id="insertReply">
		insert
		into tbl_reply ( rno,
						 bno, 
						 content, 
						 replyDate, 
						 email ) 
				values ( SEQ_REPLY.nextval,
						 #{bno},
						 #{content},
						 sysdate,
						 #{email} )
	</insert>
	
	<select id="readReply" resultType="com.writestar.domain.ReplyVO">
		select *
		  from tbl_reply
		 where rno = #{rno}
	</select>
	
	<delete id="deleteReply">
		delete
		  from tbl_reply
		 where rno = #{rno}
	</delete>
	
	<update id="updateReply">
		update tbl_reply
		   set content = #{content}
		 where rno = #{rno}
	</update>
	
	<select id="getListWithPaging" resultType="com.writestar.domain.ReplyVO">
		<![CDATA[
			 select  
			 	x.*
			 from (
			 	select rownum as rn, t.*
			 	from(
			 		select /*+INDEX(tbl_reply idx_reply) */ 
			      	rno, bno, content, replyDate, email
			    	from tbl_reply
			    	where bno =  #{bno}
			    	and rno > 0
			    	order by replyDate asc
			 	) t
			   ]]>  
			   <![CDATA[
			    where rownum <= #{cri.pageNum} * #{cri.amount}
			    ) x
					where x.rn > (#{cri.pageNum} -1) * #{cri.amount}
		]]>
	</select>
	
	<select id="getCountByBno" resultType="int">
		<![CDATA[
			select count(rno) from tbl_reply where bno = #{bno}
		]]>
	</select>
	
	<update id="updateReplyCnt">
		update tbl_board set replycnt = replycnt + #{amount} where bno = #{bno}
	</update>
</mapper>