<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.writestar.mapper.SearchMapper">
 	<resultMap type="com.writestar.domain.UserVO" id="userInfo">
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="nickname" property="nickname"/>
		<result column="user_info" property="user_info"/>
	</resultMap>
	
	<resultMap type="com.writestar.domain.BoardVO" id="boardVo">
		<result column="bno" property="bno"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="regdate" property="regdate"/>
		<result column="address" property="address"/>
		<result column="post_type" property="post_type"/>
		<result column="email" property="email"/>
		<collection property="userVO" resultMap="userInfo" />
	</resultMap>
	
 	<!-- 검색을 위해 동적 sql 처리 -->
	<select id="searchList" resultMap="boardVo">
		select rownum as rn,
		       b.bno as bno,
		       b.title as title,
		       b.content as content,
		       b.regdate as regdate,
		       b.address as address,
		       b.post_type as post_type,
		       b.email as email,
		       a.nickname as nickname
		  from tbl_user a, tbl_board b
		 where a.email = b.email
		   and b.title like '%' || #{keyword} || '%'
		    or b.content like '%' || #{keyword} || '%'
	</select>
	 
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_board 
	 	 where bno >0
	</select>
</mapper>